<!----------------------------------------------------------------------------------------------------------------------
  -- 404.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <page-wrapper
        class="custom-404"
        disable-edit
    >
        <h1>
            Page not found
        </h1>
        <p>
            The page you're looking for does not exist. Would you like to create it?
        </p>
        <b-btn
            variant="primary"
            :href="newURL"
            target="_blank"
        >
            <i class="fa fa-edit"></i>
            Create in GitLab
        </b-btn>
    </page-wrapper>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .custom-404 {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
//------------------------------------------------------------------------------------------------------------------

    import path from 'path';

    // Components
    import PageWrapper from '../components/pageWrapper.vue';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'CustomErrorLayout',
        components: { PageWrapper },
        computed: {
            projectURL()
            {
                return this.$themeConfig.projectURL;
            },
            newURL()
            {
                const filename = path.basename(this.$route.path);
                const filepath = path.dirname(this.$route.path);
                return `${ this.projectURL }/new/master/docs/pages/${ filepath }?file_name=${ filename }.md`;
            }
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
