<!----------------------------------------------------------------------------------------------------------------------
  -- default.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <page-wrapper :page="page">
        <slot name="default"></slot>
    </page-wrapper>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .default-layout {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
//------------------------------------------------------------------------------------------------------------------

// Components
    import PageWrapper from '../components/pageWrapper.vue';

    // Assets
    import FavIcon from '../../assets/images/favicon.png';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'DefaultLayout',
        components: { PageWrapper },
        props: {
            page: {
                type: Object,
                required: true
            }
        },
        head()
        {
            const pageTitle = this.page.title;
            return {
                title: pageTitle ? `${ pageTitle } - ${ this.$siteConfig.title }` : this.$siteConfig.title,
                link: [
                    { rel: 'icon', type: 'image/png', sizes: '144x144', href: FavIcon }
                ]
            };
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
