<!----------------------------------------------------------------------------------------------------------------------
  -- sitemap.vue
  --------------------------------------------------------------------------------------------------------------------->

<template>
    <page-wrapper
        :page="page"
        disable-edit
    >
        <h3>All Pages</h3>
        <hr />
        <ul>
            <li v-for="pageObj in pages" :key="pageObj.slug">
                <saber-link :to="pageObj.permalink">
                    {{ pageObj.permalink }} - {{ pageObj.title }}
                </saber-link>
            </li>
        </ul>
    </page-wrapper>
</template>

<!--------------------------------------------------------------------------------------------------------------------->

<style lang="scss" scoped>
    .default-layout {
    }
</style>

<!--------------------------------------------------------------------------------------------------------------------->

<script>
//------------------------------------------------------------------------------------------------------------------

// Components
    import PageWrapper from '../components/pageWrapper.vue';

    // Assets
    import FavIcon from '../../assets/images/favicon.png';

    //------------------------------------------------------------------------------------------------------------------

    export default {
        name: 'DefaultLayout',
        components: { PageWrapper },
        props: {
            page: {
                type: Object,
                required: true
            }
        },
        computed: {
            pages()
            {
                return this.$pages
                    .concat()
                    .sort((aObj, bObj) =>
                    {
                        const linkA = aObj.permalink;
                        const linkB = bObj.permalink;
                        let rank = 0;

                        // First we sort by length
                        rank = linkA.length > linkB.length ? 1 : rank;
                        rank = linkA.length < linkB.length ? -1 : rank;

                        if(rank === 0)
                        {
                            rank = linkA.localeCompare(linkB);
                        } // end if

                        return rank;
                    });
            }
        },
        head()
        {
            const pageTitle = this.page.title;
            return {
                title: pageTitle ? `${ pageTitle } - ${ this.$siteConfig.title }` : this.$siteConfig.title,
                link: [
                    { rel: 'icon', type: 'image/png', sizes: '144x144', href: FavIcon }
                ]
            };
        }
    };
</script>

<!--------------------------------------------------------------------------------------------------------------------->
