//----------------------------------------------------------------------------------------------------------------------
// Custom Theme SCSS
//
// Note: Mixins and variable references are perfectly acceptable here.
//
//----------------------------------------------------------------------------------------------------------------------

html, body {
    //background-color: #f7f7f7;
    scroll-behavior: smooth;
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
}

.task-list {
    .task-list-item {
        input[type=checkbox] {
            margin-right: 0.5rem;
        }
    }
}

.saber-highlight {
    overflow: hidden;
}

pre[class*="language-"] > code {
    border-left: 3px solid #358ccb;
    font-size: 0.80rem;
    font-family: Hack, Monaco, Menlo, monospace;

    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

//----------------------------------------------------------------------------------------------------------------------
